@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: 'Squada One', cursive;
}
.main-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #241B2F;
}

.main-menu__logo{
    width: 3.2em;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.main-menu__list li {
    list-style: none;
    margin-top: 0.5em;
}
.main-menu__list li a{
    color:white;
    text-decoration: none;
    font-size: 1.3em;
    transition: all 0.5s;
}
.main-menu__list{
    z-index: 3;
    position: fixed;
    background-color: #262335;
    width: 70%;
    top:3em;
    right: 0px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: all 0.5s;
}
.active-menu{
    transform: translateX(0%);
}
.main-menu__list li:first-child{
    margin-top:2em;
}
.main-menu__btn{
    width: 2.5em;
    height: 2em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border:0px;
    cursor: pointer;
}
.main-menu__btn span{
    width: 95%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
}
.header-container{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}
.michi{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    transition: all 3s;
}
.header-container:hover .michi{
    transform: scale(1.1,1.1);
}
.header-description{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent,#241B2F);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-description h1{
    color:#241B2F;
    text-shadow: 0px 0px 10px white;
    font-size: 5em;
    font-family: 'Squada One', cursive;
    animation: titulo-animado 1s ease 0s 1;
    text-align: center;
}
@media screen and (min-width:640px) {
    .main-menu__list{
        position: static;
        transform: translateX(0%);
        height: auto;
        flex-direction: row;
        background-color: transparent;
    }
    .main-menu__list li:first-child{
        margin-top:auto;
    }
    .main-menu__list li a:hover{
        color: skyblue;
    }
    .main-menu__btn{
        display: none;
    }
    .main-menu__list{
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }
    .header-container{
        height: 50vh;
    }
    
}

@keyframes titulo-animado {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}